.resajet-body {
  width: 100%;
  padding-top: 0.5rem;
  background-color: #dbe0e0;

  &-comment {
    background-color: lightgray;
    border-radius: 10px;
    p {
      padding: 1rem;
      font-size: 14px;
      font-style: italic;
    }
  }
  &-stepper {
    padding-bottom: 1.5rem;
  }

  &-big-container {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  &-container {
    padding-bottom: 2.2rem !important;

    .rdrMonthPicker,
    .rdrYearPicker {
      font-family: "Poppins", sans-serif !important;
    }

    .rdrMonthAndYearWrapper {
      margin-top: 0px;
      border-radius: 6px;
    }

    .rdrDateDisplayWrapper {
      background-color: #dbe0e0;
    }

    .rdrDateDisplay {
      margin: 0rem;
      margin-top: 0.833rem !important;
      margin-bottom: 0.833rem !important;
    }

    .rdrMonth {
      width: 100%;
      padding: inherit;
    }

    .rdrDays {
      padding-bottom: 0.5rem;
    }
  }

  &-button-hour {
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    border: solid 2px;
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 14px;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .MuiFormControl-root,
  .MuiFormControl {
    width: 100%;
  }

  .MuiDateCalendar-root {
    width: 100% !important;
    max-height: inherit;
    margin-bottom: -10%;
  }

  .MuiMonthCalendar-root {
    margin-left: auto;
    margin-right: auto;
  }

  .MuiPickersCalendarHeader-root {
    margin-top: inherit;
    padding-left: 2.5%;
    padding-right: inherit;
  }

  .MuiPickersCalendarHeader-label {
    text-transform: capitalize;
  }

  .MuiGrid-root > .MuiGrid-item {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 300px) {
  .resajet-body {
    width: 100%;
    padding-top: 1.6rem;
    margin-top: -0.1rem;

    &-stepper {
      padding-bottom: 1rem;
    }

    &-big-container {
      margin-right: 1.5rem;
      margin-left: 1rem;
    }

    .MuiPickersCalendarHeader-root {
      margin-top: 3%;
    }

    &-button-hour {
      margin-bottom: 10px;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      border: solid 2px;
      padding: 2%;
      padding-left: 10%;
      padding-right: 10%;
      border-radius: 14px;
      cursor: pointer;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

@media screen and (min-width: 301px) and (max-width: 575.98px) {
  .resajet-body {
    width: 100%;
    padding-top: 1.6rem;
    margin-top: -0.1rem;

    &-big-container {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 1199.98px) {
  .resajet-body {
    width: 100%;
  }
}
