.resajet-body {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #dbe0e0;
  &-stepper {
    padding-bottom: 1.5rem;
  }

  &-container {
    padding-bottom: 2.2rem !important;
  }

  &-button-hour {
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    border: solid 2px;
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 14px;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .MuiFormControl-root,
  .MuiFormControl {
    width: 100%;
  }

  .MuiDateCalendar-root {
    width: 100% !important;
    max-height: inherit;
    margin-bottom: -10%;
  }

  .MuiMonthCalendar-root {
    margin-left: auto;
    margin-right: auto;
  }

  .MuiPickersCalendarHeader-root {
    margin-top: inherit;
    padding-left: 2.5%;
    padding-right: inherit;
  }

  .MuiPickersCalendarHeader-label {
    text-transform: capitalize;
  }

  .MuiGrid-root > .MuiGrid-item {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 374.98px) {
  .resajet-body {
    padding: 1.5rem;
    padding-top: 1.8rem;
  }
}

@media screen and (max-width: 575.98px) {
  .resajet-body {
    padding: 1rem;
    padding-bottom: 0rem;
    padding-top: 1.5rem;
  }
}
