.resajet-header {
  width: 100%;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  .MuiGrid-root {
    margin-top: 0 !important;
  }

  .MuiGrid-root > .MuiGrid-item {
    padding-left: 32px;
    padding-top: 6px !important;
  }

  &-flag {
    padding-left: 10px !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 0px;
  }

  .MuiOutlinedInput-root.Mui-focused {
    & fieldset {
      border: 0px;
    }
  }
}
@media screen and (max-width: 300px) {
  .resajet-header {
    font-size: 0.9rem;
    padding-bottom: 0rem;

    &-flag {
      padding-left: 0px !important;
    }
  }
  .MuiStep-root {
    padding-right: 0 !important;
  }
  .MuiGrid-root > .MuiGrid-item {
    padding-top: 0px !important;
  }
}

@media screen and (min-width: 301px) and (max-width: 374.98px) {
  .resajet-header {
    font-size: 1.1rem;
    padding-bottom: 0rem;
  }
  .MuiStep-root {
    padding-right: 0 !important;
  }
  .MuiGrid-root > .MuiGrid-item {
    padding-top: 8px !important;
  }
}

@media screen and (min-width: 375px) and (max-width: 575.98px) {
  .resajet-header {
    font-size: 1.2rem;
    padding-bottom: 0rem;
  }
  .MuiStep-root {
    padding-right: 0 !important;
  }

  .MuiGrid-root > .MuiGrid-item {
    padding-top: 8px !important;
  }
}
