.popup-container {
  z-index: 10;
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 9%;
  right: 6%;
  width: 10%;
  padding: 10px;
  border-radius: 10px;
  transition: opacity 0.6s ease-in-out;

  &.open {
    opacity: 1;
  }

  &.not-open {
    opacity: 0;
  }

  &.widget-open {
    transition: opacity ease-in-out;
    opacity: 0;
  }
}

/* Animation pour faire apparaître le popup */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 380px) {
  .popup-container {
    width: 40%;
    bottom: 11%;
    right: 19%;
  }
}

@media screen and (min-width: 381px) and (max-width: 575.98px) {
  .popup-container {
    width: 40%;
    bottom: 9.5%;
    right: 15%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1199.98px) {
  .popup-container {
    width: 20%;
    bottom: 7.5%;
    right: 9%;
  }
}
