.resajet-recapitulatif {
  font-family: "Poppins", sans-serif;
  width: 100%;

  &-container {
    &-grid {
      margin-top: 2%;
      &:last-child {
        margin-bottom: 1%;
      }

      &-label {
        font-size: 1rem;
        text-align: left;
        display: flex;
        align-items: center;
        font-weight: bold;
        span {
          margin-left: 2%;
        }
      }

      &-text {
        font-size: 0.9rem;
        text-align: left;
        display: flex;
        align-items: center;
        text-transform: capitalize;
      }
    }
  }
}
