.resajet-header {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-top: 0.65rem;
  padding-bottom: 0.6rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  &-flag {
    padding-left: 0px !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 0px;
  }

  .MuiOutlinedInput-root.Mui-focused {
    & fieldset {
      border: 0px;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .resajet-header {
    font-size: 1.2rem;
    padding-left: 1.5rem;
  }
  .MuiStep-root {
    padding-right: 0 !important;
  }
}
