.resajet-widget {
  position: fixed;
  bottom: 8%;
  right: 6%;
  max-height: calc(100% - 20%);
  width: 100%;
  max-width: calc(100% - 75%);

  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.6s;
  opacity: 0;

  &-open {
    opacity: 1;
    transform: translateY(0);
    animation: openWidget 0.55s ease-out;
  }

  &-close {
    visibility: visible;
    opacity: 0;
    animation: closeWidget 0.55s ease-in;
  }
}

.resajet-header {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.resajet-body {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 1.3rem;

  &-container {
    padding-bottom: 0.9rem !important;
  }

  .css-1nrlq1o-MuiFormControl-root,
  .MuiFormControl {
    width: 100%;
  }
}

.resajet-label {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.05rem;
  line-height: 1.4375;
  letter-spacing: 0.00938rem;
  margin-bottom: 0.2rem;
}

// Keyframes

@keyframes openWidget {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeWidget {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@media screen and (max-width: 575.98px) {
  .resajet-widget {
    max-height: calc(100% - 10%);
    max-width: calc(100% - 16%);
    bottom: 5%;
  }
}

@media screen and (max-width: 575.98px) {
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}

@media screen and (min-width: 1200px) {
}
