.resajet-widget {
  overflow-y: auto;
  position: fixed;
  bottom: 8.5%;
  right: 5.5%;
  max-height: 75%;
  width: 100%;
  max-width: 25%;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.6s;
  opacity: 0;
  border-radius: 14px;

  &-open {
    opacity: 1;
    transform: translateY(0);
    animation: openWidget 0.55s ease-out;
  }

  &-close {
    visibility: visible;
    opacity: 0;
    animation: closeWidget 0.55s ease-in;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.resajet-label {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.05rem;
  line-height: 1.4375;
  letter-spacing: 0.00938rem;
  margin-bottom: 0.4rem;

  &.hour {
    margin-bottom: 0.6rem;
  }
}

// Keyframes

@keyframes openWidget {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeWidget {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@media screen and (max-width: 575.98px) {
  .resajet-widget {
    max-height: calc(100% - 10%);
    max-width: calc(100% - 16%);
    bottom: 5%;
  }
}

@media screen and (max-width: 575.98px) {
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}

@media screen and (min-width: 1200px) {
}
